html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.app, .editor {
  height: 100%;
  -moz-user-select: none;
  user-select: none;
}

path {
  stroke: purple;
  fill: none;
}
